<div class="table-responsive well" style="overflow:visible;">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
        <input type="hidden" name="pumukitnewadmin_series_sort_change_type" id="pumukitnewadmin_series_sort_change_type" value="{{ app.session.get('admin/series/type')=='asc'?'desc':'asc' }}"/>
        <table class="table table-striped table-hover">
            <thead>
                {% include 'PumukitNewAdminBundle:Series:listth.html.twig' %}
            </thead>

            <tbody>
            {% for oneseries in series %}
                {% set numV = oneseries|count_multimedia_objects %}
                {% set mmobj_data = oneseries|series_text %}
                <tr style="cursor: pointer" {% if(app.session.get('admin/series/id') == oneseries.id ) %} class="success" {% endif %}>
                    <td headers="th-checkbox">
                        <div class="checkbox">
                            <label>
                                <input id="{{ oneseries.id }}" class="series_checkbox" type="checkbox">
                            </label>
                        </div>
                    </td>

                    {% if not is_naked() %}
                        <td headers="th-icons">
                            {% spaceless %}
                                <i class="{{ oneseries|series_announce_icon }}" data-toggle="tooltip" data-placement="right" title="{{ oneseries|series_announce_text }}"></i>
                            {% endspaceless %}
                        </td>

                    {% endif %}
                    <td headers="th-icons">
                        {% include 'PumukitNewAdminBundle:Series:updatemenu.html.twig' with {'oneseries': oneseries, 'numV': numV} %}
                    </td>
                    <td headers="th-img" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        <img class="pic-{{ oneseries.id }} preview" src="{{ oneseries|first_url_pic }}" height="23" width="23" alt="{% trans %}Series picture{% endtrans %}"/>
                    </td>
                    <td headers="th-title" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        <a href="{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}">
                            {{ oneseries.getTitle() }}
                        </a>
                    </td>
                    <td headers="th-date" class="text-nowrap" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                        {{ oneseries.getPublicDate()|localizeddate('medium','none',app.request.getLocale()) }}
                    </td>
                    {% if not is_naked() %}
                        <td headers="th-series-hide" class="text-center" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                            {% if oneseries.hide %}
                                <i class="mdi-action-done"></i>
                            {% endif %}
                        </td>
                        {% if advance_live_event %}
                            <td headers="th-mm-eve" class="text-center" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                                {{ mmobj_data.3 }}
                            </td>
                        {% endif %}
                        <td headers="th-mm-pub" class="text-center" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                            {% if mmobj_data['announce_pub'] is defined and mmobj_data['announce_pub'] > 0 %}
                                <span data-toggle="tooltip" data-placement="right" title="{{ mmobj_data['announce_pub'] }} {% trans %} announced Multimedia Object(s){% endtrans %}" style="color:green">
                                    {{ mmobj_data.0 }}
                                </span>
                            {% else %}
                                {{ mmobj_data.0 }}
                            {% endif %}
                        </td>
                        <td headers="th-mm-blo" class="text-center" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                            {% if mmobj_data['announce_blo'] is defined and mmobj_data['announce_blo'] > 0 %}
                                <span data-toggle="tooltip" data-placement="right" title="{{ mmobj_data['announce_blo'] }} {% trans %} announced Multimedia Object(s){% endtrans %}" style="color:green">
                                    {{ mmobj_data.2 }}
                                </span>
                            {% else %}
                                {{ mmobj_data.2 }}
                            {% endif %}
                        </td>
                        <td headers="th-mm-hid" class="text-center" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                            {% if mmobj_data['announce_hid'] is defined and mmobj_data['announce_hid'] > 0 %}
                                <span data-toggle="tooltip" data-placement="right" title="{{ mmobj_data['announce_blo'] }} {% trans %} announced Multimedia Object(s){% endtrans %}">
                                    {{ mmobj_data.1 }}
                                </span>
                            {% else %}
                                {{ mmobj_data.1 }}
                            {% endif %}
                        </td>
                    {% else %}
                        <td headers="th-mm" onclick="click_fila_edit_urls('series', this, '{{ path('pumukitnewadmin_series_show', {'id': oneseries.id}) }}', '{{ path('pumukitnewadmin_series_update', {'id': oneseries.id}) }}')" ondblclick="dblclick_fila_url('series', this, '{{ path('pumukitnewadmin_mms_index', {'id': oneseries.id }) }}')">
                            {{ numV }}
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td headers="th-checkbox th-icons th-icons th-icons th-img th-mm th-title th-date" colspan="8">
                        {% trans %}There are no series with those values.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            {% if (series|length - (series.getMaxPerPage() * (series.getCurrentPage() - 1))) < (series.maxPerPage) %}
                {% for i in (series|length - (series.getMaxPerPage() * (series.getCurrentPage() - 1)))..(series.maxPerPage-1) %}
                    <tr>
                        <td headers="th-checkbox">&nbsp;</td>
                        {% if not is_naked() %}
                            <td headers="th-icons">&nbsp;</td>
                        {% endif %}
                        <td headers="th-icons">&nbsp;</td>
                        <td headers="th-img">&nbsp;</td>
                        <td headers="th-title">&nbsp;</td>
                        <td headers="th-date">&nbsp;</td>
                        {% if not is_naked() %}
                            <td headers="th-series-hide">&nbsp;</td>
                            <td headers="th-mm-eve"></td>
                            <td headers="th-mm-pub"></td>
                            <td headers="th-mm-blo"></td>
                            <td headers="th-mm-hid"></td>
                        {% else %}
                            <td headers="th-mm">&nbsp;</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="12" class="foot-td">
                    <div class="row">
                        <div class="col-md-6">
                            {{ series.getNbResults }}
                            {% transchoice series.getNbResults %}
                                {0} series|{1} series|]1,Inf] series
                            {% endtranschoice %}
                            {% if app.session.get('admin/series/criteria')|length != 0 or (app.session.has('admin/series/empty_series') or app.request.query.has('empty_series')) %}
                                <a title="{% trans %}Cancel current search{% endtrans %}" style="color:blue; font-weight:normal;" href="?criteria[reset]=true">{% trans %}Cancel search{% endtrans %}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="pagerfanta">
                                {% set sorting = {('sorting[' ~ (app.session.get('admin/series/sort')) ~ ']') : (app.session.get('admin/series/type')) } %}
                                {{ pagerfanta(series, 'twitter_bootstrap3', {"css_container_class": "pagination pagination-sm", "next_message": "&raquo;", "prev_message": "&laquo;", "routeName": "pumukitnewadmin_series_index", "routeParams": sorting}) }}

                                {% if not is_naked() %}
                                    <input title="{% trans %}Go to page{% endtrans %}" type="number"
                                           style="width: 25px;text-align:center;cursor:pointer;"
                                           value="{{ series.getCurrentPage() }}"
                                           onchange="window.location.search = '?page=' + this.value; return false;"/>

                                    <select onchange="javascript: window.location.href = '{{ path('pumukitnewadmin_series_index') }}' + '?page=1&paginate=' + this.value" aria-label="{% trans %}Select the number of series to display per page.{% endtrans %}">
                                        <option {% if series.maxPerPage == 10 %}selected{% endif %} value="10">10
                                        </option>
                                        <option {% if series.maxPerPage == 20 %}selected{% endif %} value="20">20
                                        </option>
                                        <option {% if series.maxPerPage == 50 %}selected{% endif %} value="50">50
                                        </option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        {% trans %}You don't have enough permissions to access this content.{% endtrans %}
    {% endif %}
</div>
