<div class="well">
  <form autocomplete="off" id="pumukitnewadmin_series_updatepub_form"
        onsubmit="submitUpdatePub(this);return false;"
        action="{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}"
        method="POST">
    {% form_theme form 'PumukitNewAdminBundle:Themes:fields.html.twig' %}
    <input type="hidden" name="id" id="id" value="{{ series.id }}">

    <div class="row">
      <div class="col-md-6">
        <span id="remember_save_series" class="alert alert-dismissable alert-danger" style="display:none;vertical-align:middle;">{% trans %}Press OK for the change to take effect{% endtrans %}</span> &nbsp;
      </div>

      <div class="col-md-6 text-right">
        <button id="pumukitnewadmin_series_updatemeta_cancel" type="button" class="btn btn-default btn-raised">{% trans %}Cancel{% endtrans %}</button>
        <button type="submit" class="btn btn-pumukit btn-raised" onclick="$('#remember_save_series').hide();">{% trans %}OK{% endtrans %}</button>
      </div>
    </div>

    <div>
      <fieldset>
        <div class="col-md-7">
          {{ form_row(form['announce']) }}
        </div>
      </fieldset>
    </div>

  </form>
</div>
<script type="text/javascript">
function submitUpdatePub(elem){
    //TODO: Workaround.
    var data = $(elem).add('#pumukitnewadmin_series_updatemeta_form').serialize();
    $.ajax({
        url: '{{ path('pumukitnewadmin_series_update', {'id': series.id}) }}',
        type: 'POST',
        data: data,
        error: function(request, json){var message = '{% trans %}Series saved ERROR{% endtrans %}'; no_success(message);},
        success: function(response){
            $('#list_series').html(response);
            $('#preview_series').load('{{ path('pumukitnewadmin_series_show', {'id': series.id}) }}');
            var message = '{% trans %}Series saved OK{% endtrans %}';
            success(message);
        }
    });
 }
</script>
